footer{
    margin-top: 100px;
}
footer h4{
    font-size: 1.7rem;
    font-family: 'Poppins', sans-serif;
}
footer .container button {
    background-color: var(--majorelle-blue);
    border-color: var(--majorelle-blue);
    color: white;
}
 .copyright{
    color: white;    
    background-color: rgb(55, 28, 225);
}
.copyright div{
    padding-top: 15px;
}
.wow{
    background: blue;
}
@media screen and (max-width: 576px){

    footer h4{
        font-size: 1.2rem;
    }
    .underline1{
        width: 20%;
    }
    footer p{
        font-size: 0.8rem;
    }

}
